In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'integer': [1, None, 1, 2, 1, 2, 3, 2],
    'float': [0.1, None, 0.1, 0.2, 0.1, 0.2, 0.3, 0.1],
    'categorical': ['a', 'b', 'a', 'b', 'a', None, 'c', None],
    'bool': [False, True, False, True, False, False, False, None],
    'nullable': [1, None, 3, None, 5, None, 7, None],
    'datetime': [
        '2010-01-01', '2010-02-01', '2010-01-01', '2010-02-01',
        '2010-01-01', '2010-02-01', '2010-03-01', None
    ]
})

In [2]:
data

   integer  float categorical   bool  nullable    datetime
0      1.0    0.1           a  False       1.0  2010-01-01
1      NaN    NaN           b   True       NaN  2010-02-01
2      1.0    0.1           a  False       3.0  2010-01-01
3      2.0    0.2           b   True       NaN  2010-02-01
4      1.0    0.1           a  False       5.0  2010-01-01
5      2.0    0.2        None  False       NaN  2010-02-01
6      3.0    0.3           c  False       7.0  2010-03-01
7      2.0    0.1        None   None       NaN        None

In [3]:
data.to_csv('data.csv', index=False)

In [4]:
import json

metadata = {
    "path": "",
    "tables": [
        {
            "fields": [
                {
                    "name": "integer",
                    "type": "number",
                    "subtype": "integer",
                },
                {
                    "name": "float",
                    "type": "number",
                    "subtype": "float",
                },
                {
                    "name": "categorical",
                    "type": "categorical",
                    "subtype": "categorical",
                    "pii": False,
                    "pii_category": "email"
                },
                {
                    "name": "bool",
                    "type": "categorical",
                    "subtype": "bool",
                },
                {
                    "name": "nullable",
                    "type": "number",
                    "subtype": "float",
                },
                {
                    "name": "datetime",
                    "type": "datetime",
                    "format": "%Y-%m-%d"
                },
            ],
            "headers": True,
            "name": "data",
            "path": "data.csv",
            "use": True
        }
    ]
}

with open('data.meta.json', 'w') as f:
    json.dump(metadata, f, indent=4)

In [5]:
from sdv import SDV

sdv = SDV('data.meta.json')
sdv.fit()

> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(113)transform()
    112         import ipdb; ipdb.set_trace()
--> 113         for column_name, transformer in self._transformers.items():
    114             column = data.pop(column_name)

ipdb> datall
*** NameError: name 'datall' is not defined
ipdb> ll
    108     def transform(self, data):
    109         if self.copy:
    110             data = data.copy()
    111
    112         import ipdb; ipdb.set_trace()
--> 113         for column_name, transformer in self._transformers.items():
    114             column = data.pop(column_name)
    115             transformed = transformer.transform(column)
    116
    117             shape = transformed.shape
    118
    119             if len(shape) == 2 and shape[1] == 2:
    120                 data[column_name] = transformed[:, 0]
    121                 new_column = '{}#{}'.format(column_name, 1)
    122                 data[new_column] = transformed[:, 1]
    123
    124             else:
    125                 data[column_name] = transformed
    126
    127         return data
    128

ipdb> data
   integer  float categorical   bool  nullable   datetime
0      1.0    0.1           a  False       1.0 2010-01-01
1      NaN    NaN           b   True       NaN 2010-02-01
2      1.0    0.1           a  False       3.0 2010-01-01
3      2.0    0.2           b   True       NaN 2010-02-01
4      1.0    0.1           a  False       5.0 2010-01-01
5      2.0    0.2         NaN  False       NaN 2010-02-01
6      3.0    0.3           c  False       7.0 2010-03-01
7      2.0    0.1         NaN    NaN       NaN        NaT
ipdb> unt
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(114)transform()
    113         for column_name, transformer in self._transformers.items():
--> 114             column = data.pop(column_name)
    115             transformed = transformer.transform(column)

ipdb>
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(115)transform()
    114             column = data.pop(column_name)
--> 115             transformed = transformer.transform(column)
    116

ipdb>
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(117)transform()
    116
--> 117             shape = transformed.shape
    118

ipdb>
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(119)transform()
    118
--> 119             if len(shape) == 2 and shape[1] == 2:
    120                 data[column_name] = transformed[:, 0]

ipdb>
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(120)transform()
    119             if len(shape) == 2 and shape[1] == 2:
--> 120                 data[column_name] = transformed[:, 0]
    121                 new_column = '{}#{}'.format(column_name, 1)

ipdb>
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(121)transform()
    120                 data[column_name] = transformed[:, 0]
--> 121                 new_column = '{}#{}'.format(column_name, 1)
    122                 data[new_column] = transformed[:, 1]

ipdb>
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(122)transform()
    121                 new_column = '{}#{}'.format(column_name, 1)
--> 122                 data[new_column] = transformed[:, 1]
    123

ipdb>
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(125)transform()
    124             else:
--> 125                 data[column_name] = transformed
    126

ipdb>
> /home/josedavid/Projects/RDT/rdt/hyper_transformer.py(127)transform()
    126
--> 127         return data
    128

ipdb> data
    integer  integer#1     float  float#1  categorical bool bool#1  nullable  \
0  1.000000        0.0  0.100000      0.0     0.190619    0      0       1.0
1  1.714286        1.0  0.157143      1.0     0.557067    1      0       4.0
2  1.000000        0.0  0.100000      0.0     0.218773    0      0       3.0
3  2.000000        0.0  0.200000      0.0     0.493353    1      0       4.0
4  1.000000        0.0  0.100000      0.0     0.161818    0      0       5.0
5  2.000000        0.0  0.200000      0.0     0.731178    0      0       4.0
6  3.000000        0.0  0.300000      0.0     0.940420    0      0       7.0
7  2.000000        0.0  0.100000      0.0     0.829390   -1      1       4.0

   nullable#1      datetime  datetime#1
0         0.0  1.262304e+18         0.0
1         1.0  1.264982e+18         0.0
2         0.0  1.262304e+18         0.0
3         1.0  1.264982e+18         0.0
4         0.0  1.262304e+18         0.0
5         1.0  1.264982e+18         0.0
6         0.0  1.267402e+18         0.0
7         1.0  1.264180e+18         1.0
ipdb> q

BdbQuit:

In [ ]:
samples = sdv.sample_all()
samples['data']

In [1]:
from sdv import SDV

sdv = SDV('../tests/data/meta.json')
sdv.fit()

INFO - Modeling DEMO_ORDER_ITEMS
INFO - Modeling DEMO_ORDERS
INFO - Modeling DEMO_CUSTOMERS
INFO - Modeling Complete

In [6]:
real = sdv.dn.get_tables()

In [ ]:
samples = sdv.sample_all(len(real['DEMO_CUSTOMERS']))

In [17]:
samples['DEMO_CUSTOMERS'].describe()

       CUSTOMER_ID  PHONE_NUMBER1  CREDIT_LIMIT
count     7.000000   7.000000e+00      7.000000
mean      8.000000   7.089018e+09    964.000000
std       2.160247   1.279041e+09    437.090761
min       5.000000   4.700183e+09    197.000000
25%       6.500000   6.657023e+09    755.000000
50%       8.000000   7.468557e+09   1101.000000
75%       9.500000   7.856186e+09   1231.500000
max      11.000000   8.427970e+09   1477.000000

In [18]:
real['DEMO_CUSTOMERS'].describe()

        CUSTOMER_ID  PHONE_NUMBER1  CREDIT_LIMIT
count  7.000000e+00   7.000000e+00      7.000000
mean   2.219856e+07   6.464124e+09   1071.428571
std    3.907774e+07   1.374656e+09    449.867705
min    4.000000e+00   4.045553e+09    500.000000
25%    2.990810e+05   6.175553e+09   1000.000000
50%    6.304070e+05   6.175553e+09   1000.000000
75%    2.841125e+07   7.035552e+09   1000.000000
max    9.733881e+07   8.605552e+09   2000.000000

In [19]:
samples['DEMO_ORDERS'].describe()

       ORDER_ID  CUSTOMER_ID  ORDER_TOTAL
count  20.00000     20.00000    20.000000
mean   22.50000      8.10000  1478.900000
std     5.91608      2.04939  1271.514054
min    13.00000      5.00000 -1019.000000
25%    17.75000      6.75000   797.000000
50%    22.50000      8.00000  1318.000000
75%    27.25000     10.00000  1822.500000
max    32.00000     11.00000  4008.000000

In [20]:
real['DEMO_ORDERS'].describe()

       ORDER_ID   CUSTOMER_ID  ORDER_TOTAL
count  10.00000  1.000000e+01    10.000000
mean    5.50000  4.040089e+07  1397.500000
std     3.02765  4.518278e+07   722.322835
min     1.00000  4.000000e+00   730.000000
25%     3.25000  5.000000e+01   733.250000
50%     5.50000  2.799810e+07  1223.000000
75%     7.75000  8.700314e+07  2125.000000
max    10.00000  9.733881e+07  2380.000000

In [15]:
samples['DEMO_ORDER_ITEMS']

     ORDER_ITEM_ID  ORDER_ID  PRODUCT_ID  UNIT_PRICE  QUANTITY
0              162        13           0          72         3
1              163        13           1         137         3
2              164        13          -1         121         3
3              165        13           1          99         2
4              166        14           6          28         2
5              167        14           9         115         3
6              168        15           2         167         5
7              169        15           1         124         6
8              170        15           7         -15         3
9              171        15           5         105         5
10             172        15           8          86         1
11             173        15           3          40         6
12             174        13          -1          22         2
13             175        13           1         124         3
14             176        13           1         150         3
15             177        13           0         109         3
16             178        14           6          26         1
17             179        14          10         114         3
18             180        15           2          68         6
19             181        15           5          79         1
20             182        15           3          63         6
21             183        15           2          98         2
22             184        15           3          67         3
23             185        15           6          81         4
24             186        16           7          50         3
25             187        16           5          45         5
26             188        16           8          41         4
27             189        16           5          46         2
28             190        17           7         101         2
29             191        17           5          94         4
..             ...       ...         ...         ...       ...
365            527        30           7         -13         9
366            528        30          11         149         0
367            529        30          13          -5         2
368            530        30           9          70         4
369            531        30          13          -3         3
370            532        30           2         123        11
371            533        31           8          83         9
372            534        31           8          72         4
373            535        31          14         176        10
374            536        31          13         194        13
375            537        31           8         -54         6
376            538        31          11         113         1
377            539        31           9          65        10
378            540        31          13         196         6
379            541        31          13         198       -11
380            542        31          10          90        -2
381            543        31           8           5        10
382            544        31           7          -3         5
383            545        31           7         141        -4
384            546        32           7          78         7
385            547        32           7         125         3
386            548        32           6         121         0
387            549        32           7         113         3
388            550        32           8         124         6
389            551        32           6          69         4
390            552        32           3          -9         0
391            553        32           9         165         8
392            554        32           4          21         1
393            555        32           6         109         0
394            556        32           9         150         7

[395 rows x 5 columns]

In [16]:
real['DEMO_ORDER_ITEMS']

    ORDER_ITEM_ID  ORDER_ID  PRODUCT_ID  UNIT_PRICE  QUANTITY
0             100        10           7          52         8
1             101         8           6         125         4
2             102         1           6         125         4
3             103         4           9         125         4
4             104         1           9         113         4
5             105         9          10          87         2
6             106        10           6          39         4
7             107         1           6          50         4
8             108         2           3          31         2
9             109         4           6          37         3
10            110        10          10          50         4
11            111         1          10          50         2
12            112         6          14          50         1
13            113        10           1         161         5
14            114         2           2          73         4
15            115         1           6          50         2
16            116         5           6          63         2
17            117         1           6         115         4
18            118         4          10          50         4
19            119         5           9          50         2
20            120        10          15          37         0
21            121         7           6         113         7
22            122         1           6         125         2
23            123        10           6         113         7
24            124         8          10         125         4
25            125         5           6         125         2
26            126         1           6         125         2
27            127         8          10          69         2
28            128         8          10          50         2
29            129         6           8         152         3
30            130         5           2         103         4
31            131         3          11          30        -1
32            132         9           6          97         2
33            133         7           1         165         5
34            134         8           6         125         2
35            135         8           6          50         2
36            136         1           9         125         4
37            137         6           8         152         3
38            138         1          10          50         2
39            139         3           6          37         3
40            140         6          15         111         1
41            141         9          10         125         2
42            142        10           2         147         4
43            143         3           6          58         4
44            144         1           6         102         4
45            145         9          10          50         4
46            146         6          15          50         1
47            147         7           3          30        -1
48            148         1           6         125         4

In [12]:
from sdv.evaluation import evaluate

evaluate(real, samples).astype(str)

/home/josedavid/.virtualenvs/SDV/lib/python3.6/site-packages/scipy/stats/stats.py:248: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

mse          9.231658903569981e+64
rmse        3.0383645113070256e+32
r2_score       -2975.8739003553624
dtype: object

In [21]:
sdv.dn.foreign_keys

{('DEMO_ORDERS', 'DEMO_CUSTOMERS'): ('CUSTOMER_ID', 'CUSTOMER_ID'),
 ('DEMO_ORDER_ITEMS', 'DEMO_ORDERS'): ('ORDER_ID', 'ORDER_ID')}